[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textX = "*"
"textX[cli]" = "*"
click = "*"
future = "*"
Jinja2 = "*"
Arpeggio = "*"

[dev-packages]

[requires]
python_version = "3.9"
